.form-container {
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f0f0f0;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.form-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  background-color: #f5f5f5;
  width: 300px;
  box-sizing: border-box;
}

.form-input:focus {
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 0 0 2px #007bff;
}

.select-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  background-color: #f5f5f5;
  width: 300px;
}

.form-container select {
  margin: 0;
}

.button-container {
  padding: 10px;
}

.form-container div {
  margin-bottom: 10px;
}

.table-responsive {
  max-width: 1125px;
  min-width: calc(100vw - 800px);
}

.flexed {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-container {
  margin-top: 30px;
}
