.logo {
  height: 150px;
  padding-top: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

/* .header {
  margin-bottom: 20px;
} */
.header-button {
  display: flex;
  align-items: center;
}

.header-button button {
  border: 1px solid black;
  margin-left: 10px;
}
