.navbar-nav .nav-link:hover {
  text-decoration: underline !important;
  background-color: transparent !important;
}

.my-dropdown .dropdown-item:hover > a {
  text-decoration: underline !important;
  color: black !important;
}
