.productsPic {
  height: 200px;
  width: 200px;
}

.productPic {
  height: 300px;
  width: 300px;
}
.productsDiv {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  grid-column-gap: 30px;
}

.productDiv {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  grid-column-gap: 30px;
}
.nav-bar-container {
  margin-top: 37px;
}

/* Center the "please login" message */
.centered-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Center the "access denied" message */
.access-denied {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
